stages:
  - test
  - docker
  - deploy

variables:
  KUBECONFIG: .kube/config

cache: &global_cache
  key: $CI_PROJECT_NAME
  paths:
    - node_modules/
    - public/
  policy: pull-push

build:
  retry: 2
  script:
    - yarn install --frozen-lockfile --check-files --cache-folder .yarn --prefer-offline    
    - sed -i 's_localhost_https://100daysofhomelab.com_' config.toml
    - yarn build
  image: node:16.15.0
  stage: test
  cache:
    <<: *global_cache

docker_image_build_release:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  stage: docker
  cache:
    <<: *global_cache
    policy: pull
  retry: 2
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG --destination $CI_REGISTRY_IMAGE:latest

deploy:
  image: 
    name: bitnami/kubectl:latest
    entrypoint: [""]
  cache: []
  stage: deploy
  retry: 2
  before_script:
    - sed -ie "s/deploy-date-value/$(date)/g" kubernetes/deployment.yaml
    - sed -ie "s|$CI_REGISTRY_IMAGE:latest|$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG|g" kubernetes/deployment.yaml
    - mkdir -p .kube/ && touch .kube/config
    - echo ${KUBERNETES_EXTERNAL_CLUSTER} | base64 -d -i > ${KUBECONFIG}   
  script:
    - kubectl apply -f kubernetes/deployment.yaml